
.fundo{
    margin-top: -20px;
    margin-left: -10px;
    z-index: -1;
    position: fixed;
    width: 400px;
    height: 800px;
    background: linear-gradient(80deg, rgba(252,121,0,0.58) 30.22%, rgba(252,121,0,0.00) 100%);
}
.titulo{
   margin-top: 20px;
   margin-left: 20px;
}
.home{
    margin-top: 20px;
    margin-left: 20px;
}
.bom{
    margin-top: 5px;
    margin-left: 20px;
}
.celso{
    margin-top: -45px;
    margin-left: 270px;
}
.ret1{
    margin-top: 10px;
    margin-left: 15px;
}
.buscar{
    margin-top: -35px;
    margin-left: 25px;
}
.lupa{
    margin-top: -25px;
    margin-left: 290px;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
      gap: 17px;  
      align-items: center;
      margin-top: 20px;
      margin-left: 15px;
}
.container1{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
      gap: 45px; 
      align-items: center;
      margin-top: -45px;
      margin-left: 27px;
}
.container2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
      gap: 5px; 
      align-items: center;
      margin-top: 23px;
      margin-left: 20px;
}
.container3{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
      gap: 104px; 
      align-items: center;
      margin-top: -70px;
      margin-left: 20px;
}
.container4{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
      gap: 113px; 
      align-items: center;
      margin-top: -20px;
      margin-left: 25px;
}
.container5{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
      gap: 43px; 
      align-items: center;
      margin-top: 4px;
      margin-left: 20px;
}
.container6{

    display: grid;
     grid-template-columns: repeat(3, 1fr);
      gap: 47px; 
      align-items: center;
      margin-top: -30px;
      margin-left: 20px;
}
.recomendados{
    margin-top: 7px;
    margin-left: 20px;
}

.container7{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 17px; 
     align-items: center;
     margin-top: 5px;
     margin-left: 20px;
}
.ver{
    margin-left: 220px;
    margin-top: -70px;
}
.container8{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 87px; 
     align-items: center;
     margin-top: 5px;
     margin-left: 20px;
}
.doze{
    margin-top: -57px;
    margin-left: 222px;
}
.bebidas{
    margin-top: 55px;
    margin-left: 15px;
}
.container9{
    margin-top: 5px;
    margin-left: 13px;
}

.coca{
    margin-top: -150px ;
    margin-left: 20px;
   
}
.cocacola{
    margin-top: -100px;
    margin-left: 60px;
}
.preco14{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
     gap: 47px; 
     align-items: center;
     margin-top: 10px;
     margin-left: 240px;
}
.quatorze{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
     gap: 55px; 
     align-items: center;
     margin-top: -83px;
     margin-left: 245px;
}
.cerveja{
    margin-top: 20px;
    margin-left: 20px;
}
.cerveja2{
    margin-top: -57px;
    margin-left: 60px;
}
.container10{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
     gap: 55px; 
     align-items: center;
     margin-top: -93px;
     margin-left: 58px;
}
